<div class="overlay" id="overlay">
</div>
<div class="modal" id="modal">
  <div class="modal-header">
    <h2>Confirmation</h2>
    <button id="close">&times;</button>
  </div>
  <div class="modal-body">
    <p id="confirmation-text">Are you sure you want to delete all the posts?</p>
    <div class="modal-button-container">
      <button id="cancel" type="button">Cancel</button>
      <button id="delete" type="submit">Delete</button>
    </div>
  </div>
</div>